body {
  font-family: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: justify;
  text-justify: auto; // background-color: $gray-900;
}

ul {
  list-style: none;
}

.wrapper {
  display: block;
  position: relative;
  top: 0;
}

.navbar {
  min-height: 76px;
  background-color: rgba( $black, 0.5);
}

.logo {
  width: 170px;
}

.nav-item {
  position: relative;
  width: 60px;
  height: 76px;
  line-height: 76px;
  padding: 0;
  &.active::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    border-bottom: 7px solid $hex;
  }
}

.mask {
  height: 560px;
  background-color: #282828; // background-image: url(../images/banner_photo.jpg);
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    font-size: 3rem;
    line-height: 5rem;
    @include media-breakpoint-down(md) {
      font-size: 2rem;
      line-height: 3rem;
    }
  }
  a {
    font-size: 1.25rem;
    width: 220px;
    height: 52px;
    @include media-breakpoint-down(md) {
      font-size: 1rem;
      width: 200px;
      height: 42px;
    }
  }
  .container {
    position: relative;
  }
  .banner {
    position: absolute;
    bottom: 140px;
  }
  img {
    height: 132px;
    position: absolute;
    top: 118px;
    right: 0;
    @include media-breakpoint-down(md) {
      transform: scale(.8);
      top: 100px;
    }
    @include media-breakpoint-down(sm) {
      left: 0;
    }
  }
}

.card.card {
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 3px 7px 0px rgba( $dark, 0.35);
}

thead {
  background-color: $gy;
}

.subscribe {
  min-height: 396px;
  background-color: $gy;
}

.slogan div {
  font-size: 2rem;
  line-height: 60px;
  color: $gray-900;
  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
    line-height: 40px;
  }
}

input {
  height: 52px;
  border-radius: 5px;
  padding: 1rem 1.25rem;
  font-size: 1.25rem;
  border: none;
}

form button {
  width: 140px;
  height: 52px;
  @include media-breakpoint-down(md) {
    transform: scale(.8);
  }
}

footer {
  min-height: 132px;
  background-color: $gray-900;
  div.position-relative {
    width: 170px;
  }
  .logo img {
    height: 43.34px;
  }
  small {
    // position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: #9b9b9b; // right: 5px;
    padding-right: 5px;
    @include media-breakpoint-down(sm) {
      padding-right: 0px;
    }
  }
}

// course
.name-lg {
  font-size: 2.25rem;
  line-height: 49px;
}

ol {
  line-height: 1.5rem;
  li {
    padding-left: 1rem;
  }
}

.main-point {
  line-height: 51px;
  li {
    height: 50px;
    color: $gray-600;
    padding-left: 2.3rem;
    &:nth-child(2n - 1) {
      background-color: $gy;
      color: $gray-800;
    }
  }
}

// QA
.banner-center {
  .display-5 {
    font-size: 3.5rem;
    line-height: 5rem;
    @include media-breakpoint-down(md) {
      font-size: 3rem;
      line-height: 3rem;
    }
  }
  h4 {
    @include media-breakpoint-down(md) {
      font-size: 1.25rem;
      line-height: 3rem;
    }
  }
}

.search-bar {
  position: relative; // width: 620px;
  // width: 100%;
  line-height: 3.25rem;
  i {
    position: absolute;
    top: 50%;
    right: 4%;
    z-index: 5;
    transform: translateY(-50%) scale(0.8);
  }
  input {
    height: 52px;
    border-radius: 5px;
    padding: 1rem 1.25rem;
    font-size: 1.25rem;
    border: none;
    width: 620px;
    @include media-breakpoint-down(md) {
      width: 420px;
    }
    @include media-breakpoint-down(sm) {
      width: 330px;
    }
  }
}

.qa {
  .h5 {
    line-height: unset;
  }
  ol {
    line-height: unset;
  }
  ul {
    list-style: disc;
  }
}

textarea#textInput {
  min-height: 200px;
  border-radius: 5px;
  padding: 1rem 1.25rem;
  font-size: 1.25rem;
  border: none;
}

// =================================
// animated
.show-js {
  opacity: 0;
  transition: all 1.5s;
  transform: translateY(50px);
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}